<li class="active">
    <a href="#/dashboard">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>
<li class="active">
    <a href="#/settings">
        <i class="fa fa-group"></i> <span>Settings</span>
    </a>
</li>
<li class="treeview" treeview>
    <a href="#/content">
        <i class="fa fa-bar-chart-o"></i>
        <span>Content Management</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="#/contents"><i class="fa fa-angle-double-right"></i>Contents</a></li>
        <li><a href="#/comments"><i class="fa fa-angle-double-right"></i>Comments</a></li>
        <li><a href="#/tags"><i class="fa fa-angle-double-right"></i>tags</a></li>
    </ul>
</li>